/**1200px oder schmaler */
@media (max-width: 75em) {
  
}
/**992px oder schmaler */
@media (max-width: 62em) {
  
}
/**768px oder schmaler */
@media (max-width: 48em) {
  
}
/**576px oder schmaler */
@media (max-width: 36em) {
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 100%;
  font-family: "jost", sans-serif;
}

.container {
  max-width: 75rem;
  margin: 0px auto;
}

.header__container {
  position: relative;
}

.header {
  position: relative;
  height: 40rem;
  min-height: calc(13rem + 32vw);
  overflow: hidden;
}

.header::before {
  content: "";
  position: absolute;
  bottom: -12rem;
  width: 100vw;
  height: 52rem;
  background-image:url("../Pics/A_HeaderMountain02.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100% auto;
}

.header::after{
  content: "";
  height: 33vw;
  position: absolute;
  width: 100vw;
  background-image:url("../Pics/A_HeaderMountain01.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100% auto;
  bottom: -12rem;
}

.icon {
  fill: currentColor;
  height: 1em;
  vertical-align: middle;
  position: relative;
  top: -0.075em;
}

.navigation__list-item {
  list-style-type: none;
  display: block;
  float: left;
}

.navigation__list-item-link {
  color: white;
  text-decoration: none;
  padding: 0.5rem 0.25rem 0.25rem 0.25rem;
  /*border-bottom: 0.2rem solid rgb(0, 226, 156);*/
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  display: block;
  text-shadow: 0 0 0.5rem black;
}
.navigation__list-item-link:hover {
  border-bottom: 0.2rem solid rgb(0, 226, 156);
}
.navigation__list-item-logo {
  fill: currentColor;
  display: block;
  width: 3rem;
  height: 3rem;
}
.navigation__list-item-link--logo {
  margin-top: 0.9rem;
}
.navigation__list-item-link--logo:hover {
  border: none;
  color: rgba(200, 200, 200, 1);
}

.navigation__list-item--menu .navigation__list-item-link {
  margin-top: 0.4rem;
}

.navigation__list-item--menu {
  float: right;
  font-size: 3rem;
}

.header__heading-container {
  clear: both;
}

.header__slope{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 10vw;
  background-image:
    linear-gradient(-5.71deg, white 49.7%, transparent 50.3%);
  background-repeat: no-repeat;
  background-position: center 100%;
  background-size: 100vw 10vw; 
  z-index: 1; 
}

.header__heading-main {
  padding-top: 6.5rem;
  font-size: 7rem;
  text-transform: uppercase;
  color: white;
  text-align: center;
  line-height: 92%;
  text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}

.header__heading-sub {
  margin-top: 1rem;
  text-transform: uppercase;
  color: white;
  font-size: 1.5rem;
  letter-spacing: 0.25rem;
  text-align: center;
  text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 1;
}
